@import url("https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@700&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

nav {
  position: fixed;
  z-index: 999;
  margin: 0px;
  min-height: 8vh;
  height: 8vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.scrolled {
  -webkit-box-shadow: 0 3px 4px #eeeeee;
          box-shadow: 0 3px 4px #eeeeee;
}

.logo {
  color: #000;
  margin-left: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: 700;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 50%;
  list-style: none;
  font-size: 15px;
}

.nav-links a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: #a9a9a9;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #2ECC71;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  margin-top: 5px;
  width: 23px;
  height: 3px;
  background-color: #333;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .nav-links a {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: 0 3px 4px #eeeeee;
            box-shadow: 0 3px 4px #eeeeee;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    z-index: 999;
    width: 50vw;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .nav-links a {
    font-size: 18px;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    margin-right: 20px;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinksFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinksFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

/* for burger animation */
.toggle .line1 {
  -webkit-transform: rotate(45deg) translate(5.5px, 6px);
          transform: rotate(45deg) translate(5.5px, 6px);
  width: 18px;
}

.toggle .line2 {
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(-45deg) translate(5.5px, -6px);
          transform: rotate(-45deg) translate(5.5px, -6px);
  width: 18px;
}

.section-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  height: 92vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.side-navigator {
  display: block;
  float: left;
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  white-space: nowrap;
  left: -40px;
  top: 130px;
  font-family: "Lora", serif;
  color: #c1c1c1;
  font-size: 40px;
  opacity: 0.3;
}

.side-asset {
  position: absolute;
  right: 25px;
  bottom: 10px;
}

.side-asset img {
  width: 60px;
}

.hero__main {
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__main-img img {
  width: 200px;
  border-radius: 50%;
}

.hero__main-text {
  text-align: center;
  margin-top: 20px;
}

.hero__main-text h2 {
  font-family: "Lora", serif;
  font-size: 34px;
}

.hero__main-text p {
  margin-top: 10px;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  color: #333;
}

@media only screen and (min-width: 760px) {
  .side-navigator {
    top: 20%;
    font-size: 50px;
  }
  .hero__main-img img {
    width: 250px;
  }
  .hero__main-text h2 {
    font-size: 45px;
  }
  .hero__main-text p {
    font-size: 18px;
  }
  .side-asset {
    right: 40px;
  }
  .side-asset img {
    width: 80px;
  }
}

@media only screen and (min-width: 900px) {
  .side-navigator {
    top: 45%;
    font-size: 50px;
  }
  .hero__main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero__main-img img {
    width: 300px;
  }
  .hero__main-text {
    text-align: left;
    margin-top: 0;
    margin-left: 50px;
  }
  .hero__main-text h2 {
    font-size: 45px;
  }
  .hero__main-text p {
    font-size: 18px;
  }
  .side-asset {
    right: 40px;
  }
  .side-asset img {
    width: 100px;
  }
}

.side-navigator-about {
  display: block;
  float: left;
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  white-space: nowrap;
  left: -40px;
  top: 10%;
  font-family: "Lora", serif;
  color: #c1c1c1;
  font-size: 40px;
  opacity: 0.3;
}

.side-asset-about {
  position: absolute;
  right: 30px;
  top: 25%;
}

.side-asset-about img {
  width: 125px;
}

.about__main {
  z-index: 99;
  margin-top: 30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about__main-text {
  text-align: left;
  margin: 20px 30px 0 30px;
}

.about__main-text h2 {
  font-family: "Lora", serif;
  font-size: 36px;
}

.about__main-text p {
  margin-top: 30px;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  color: #333;
}

@media only screen and (min-width: 760px) {
  .side-navigator-about {
    top: 20%;
    font-size: 50px;
  }
  .about__main {
    margin-top: 0;
  }
  .about__main-text {
    margin: 0 40px 0 40px;
  }
  .about__main-text h2 {
    font-size: 45px;
  }
  .about__main-text p {
    font-size: 20px;
  }
  .side-asset-about {
    top: 30%;
    right: 40px;
  }
  .side-asset-about img {
    width: 160px;
  }
}

@media only screen and (min-width: 930px) {
  .side-navigator-about {
    top: 45%;
    font-size: 50px;
  }
  .about__main {
    margin-top: 0;
  }
  .about__main-text {
    margin: 0 12vw 0 12vw;
  }
  .about__main-text h2 {
    font-size: 48px;
  }
  .about__main-text p {
    font-size: 20px;
  }
  .side-asset-about {
    top: 30%;
    right: 60px;
  }
  .side-asset-about img {
    width: 200px;
  }
}

.projects-page {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
}

.side-navigator-projects {
  display: block;
  float: right;
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  white-space: nowrap;
  right: -60px;
  top: 180%;
  font-family: "Lora", serif;
  color: #c1c1c1;
  font-size: 40px;
  opacity: 0.3;
  z-index: 1;
}

.projects__main {
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.project-info {
  z-index: 99;
}

.project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 40px;
  margin-bottom: 60px;
}

.project-card-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 40px;
  margin-bottom: 60px;
}

.project-header {
  font-family: "Lora", serif;
  color: #2ECC71;
  font-size: 32px;
  text-transform: capitalize;
  margin-top: 20px;
}

.project-image img {
  width: 100%;
  z-index: 99;
}

.project-stack {
  text-align: right;
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
  color: #a9a9a9;
  margin-top: 20px;
}

.project-details {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #595959;
  margin-top: 30px;
  font-size: 16px;
  padding-right: 20px;
}

.project-links {
  margin-top: 30px;
  position: relative;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-links a {
  display: table;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-top: 8px;
  text-decoration: none;
  color: #2ECC71;
  font-family: "Roboto Mono", monospace;
  padding-bottom: 3px;
  font-size: 14.5px;
  border: none;
  border-bottom: 2px transparent dashed;
}

.project-links a:hover {
  border-bottom: 2px #2ECC71 dashed;
}

@media only screen and (min-width: 700px) {
  .side-navigator-projects {
    right: -60px;
    top: 3%;
  }
  .project-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .project-card-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .project-image {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .project-info {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    margin: 0 40px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .project-header {
    margin-top: 0;
  }
  .project-stack {
    margin-top: 10px;
    text-align: left;
  }
  .project-links {
    margin-top: 20px;
  }
  .project-links a {
    margin-top: 4px;
    font-size: 15px;
  }
}

@media only screen and (min-width: 930px) {
  .side-navigator-projects {
    right: -10px;
    top: 10%;
    font-size: 50px;
  }
  .project-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 12vw;
    margin-left: 12vw;
    margin-bottom: 80px;
  }
  .project-card-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-right: 12vw;
    margin-left: 12vw;
    margin-bottom: 80px;
  }
  .project-image {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .project-info {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    margin: 0 40px;
  }
  .project-header {
    margin-top: 0;
    font-size: 38px;
  }
  .project-stack {
    margin-top: 20px;
    font-size: 15px;
    text-align: left;
  }
  .project-details {
    font-size: 17.6px;
  }
  .project-links {
    margin-top: 30px;
  }
  .project-links a {
    margin-top: 8px;
    font-size: 15px;
  }
}
/*# sourceMappingURL=main.css.map */