@import url("https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@700&family=Roboto+Mono&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0px;
  min-height: 8vh;
  height: 8vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-color: #fff;
}

.logo {
  color: #000;
  margin-left: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: 700;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 50%;
  list-style: none;
  font-size: 15px;
}

.nav-links a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: #a9a9a9;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav-links a:hover {
  color: #2ECC71;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  margin-top: 5px;
  width: 25px;
  height: 3px;
  background-color: #a9a9a9;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    width: 50vw;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinksFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinksFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

/* for burger animation */
.toggle .line1 {
  -webkit-transform: rotate(45deg) translate(5px, 6px);
          transform: rotate(45deg) translate(5px, 6px);
}

.toggle .line2 {
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(-45deg) translate(5px, -6px);
          transform: rotate(-45deg) translate(5px, -6px);
}

.hero-page {
  min-width: 100vw;
  min-height: 92vh;
  width: 100vw;
  height: 92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-navigator p {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #c1c1c1;
  font-family: "Lora", serif;
  left: 0;
  height: 100%;
  margin-left: -10vh;
  opacity: 0.7;
  font-size: 8vh;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.hero__main {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__main-img img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.hero__main-text {
  margin-left: 50px;
  z-index: 999;
}

.hero__main-text h2 {
  font-family: "Lora", serif;
  font-size: 60px;
}

.hero__main-text p {
  font-family: "Roboto Mono", monospace;
  margin-top: 10px;
  color: #333;
}

.side-asset {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.side-asset img {
  width: 100px;
  margin-right: 70px;
}
/*# sourceMappingURL=main.css.map */