// writing mobile first css
.side-navigator-about {
  display: block;
  float: left;
  position: absolute;
  transform: rotate(-90deg);
  white-space: nowrap;
  left: -40px;
  top: 10%;
  font-family: $header-font;
  color: $light-grey;
  font-size: 40px;
  opacity: 0.6;
}

.side-asset-about {
  position: absolute;
  right: 30px;
  top: 25%;

  img {
    width: 125px;
  }
}

.about__main {
  z-index: 99;
  margin-top: 30%;
  align-self: center;
}

.about__main-text {
  text-align: left;
  margin: 20px 30px 0 30px;

  h2 {
    font-family: $header-font;
    font-size: 36px;
  }

  p {
    margin-top: 30px;
    font-family: $mono-font;
    font-size: 16px;
    color: $text-color;
  }
}

// css for tablets
@media only screen and (min-width: 760px) {
  .side-navigator-about {
    top: 20%;
    font-size: 50px;
  }

  .about__main {
    margin-top: 0;
  }

  .about__main-text {
    margin: 0 40px 0 40px;
    h2 {
      font-size: 45px;
    }

    p {
      font-size: 20px;
    }
  }

  .side-asset-about {
    top: 30%;
    right: 40px;

    img {
      width: 160px;
    }
  }
}

// css for laptops/wider screens
@media only screen and (min-width: 930px) {
  .side-navigator-about {
    top: 45%;
    font-size: 50px;
  }

  .about__main {
    margin-top: 0;
  }

  .about__main-text {
    margin: 0 12vw 0 12vw;
    h2 {
      font-size: 48px;
    }

    p {
      font-size: 20px;
    }
  }

  .side-asset-about {
    top: 30%;
    right: 40px;

    img {
      width: 160px;
    }
  }
}