// writing mobile first css
.side-navigator-about {
  display: block;
  float: left;
  position: absolute;
  transform: rotate(-90deg);
  white-space: nowrap;
  left: -40px;
  top: 5%;
  font-family: $header-font;
  color: $light-grey;
  font-size: 40px;
  opacity: 0.6;
}

.side-asset-about {
  position: absolute;
  right: 30px;
  top: 45%;

  img {
    width: 125px;
  }
}

.about__main {
  z-index: 99;
  margin-top: 30%;
  align-self: center;
}

.about__main-text {
  text-align: left;
  margin: 20px 30px 0 30px;

  h2 {
    font-family: $header-font;
    font-size: 36px;
  }

  p {
    margin-top: 30px;
    font-family: $mono-font;
    font-size: 16px;
    color: $text-color;
  }
}

.about__tech-stack {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;

  &:nth-last-child(1)::after {
    content: ' ';
  }
}

.stack-division {
  display: flex;
  align-items: center;
  margin-right: 10px;

  &::after {
    content: ' |';
    font-size: 20px;
    color: $grey;
  }

  img {
    width: 28px;
    margin-right: 6px;
    filter: grayscale(100%);
    transition: all 0.3s ease;

    &:hover {
      filter: grayscale(0);
    }
  }
}

.about__tech-stack div {
  &:nth-last-child(1)::after {
    content: '';
  }
}


// css for tablets
@media only screen and (min-width: 760px) {
  .side-navigator-about {
    top: 10%;
    font-size: 50px;
    opacity: 0.8;
  }

  .about__main {
    margin-top: 0;
  }

  .about__main-text {
    margin: 0 60px 0 12vw;

    h2 {
      font-size: 45px;
    }

    p {
      font-size: 20px;
    }
  }

  .stack-division {
    img {
      width: 30px;
    }
  }

  .side-asset-about {
    top: 30%;
    right: 40px;

    img {
      width: 160px;
    }
  }
}

// css for laptops/wider screens
@media only screen and (min-width: 900px) {
  .side-navigator-about {
    top: 45%;
    font-size: 50px;
    opacity: 0.8;
  }

  .about__main {
    margin-top: 0;
  }

  .about__main-text {
    margin: 0 12vw 0 12vw;

    h2 {
      font-size: 48px;
    }

    p {
      font-size: 20px;
    }
  }

  .stack-division {
    img {
      width: 34px;
    }
  }

  .side-asset-about {
    top: 30%;
    right: 60px;

    img {
      width: 200px;
    }
  }
}