// writing mobile first css
.side-navigator-contact {
	display: block;
	float: left;
	position: absolute;
	transform: rotate(-90deg);
	white-space: nowrap;
	left: -40px;
	top: -2%;
	font-family: $header-font;
	color: $light-grey;
	font-size: 32px;
	opacity: 0.4;
}

.social-media {
	margin-top: 20px;
	a {
		float: left;
	}
	i {
		font-size: 25px;
		color: lighten($text-color, 30%);
		margin-right: 10px;
		transition: all 0.3s ease;
		&:hover {
			color: $accent-color;
		}
	}
}

.contact-info {
	float: right;
	margin-top: 30px;
}

.email-info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	i {
		font-size: 20px;
		color: $text-color;
	}
	div {
		font-family: $mono-font;
		color: $text-color;
		font-size: 14px;
		margin-right: 10px;
		border-right: 1px solid lighten($text-color, 30%);
		padding-right: 10px;
	}
}

.github-info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
	margin-top: 20px;
	i {
		font-size: 22px;
		color: $text-color;
	}
	a {
		text-decoration: none;
		font-family: $mono-font;
		color: $text-color;
		font-size: 14px;
		margin-right: 10px;
		border-right: 1px solid lighten($text-color, 30%);
		padding-right: 10px;
		&:hover {
			color: $accent-color;
		}
	}
}

// for larger mobiles
@media only screen and (min-width: 400px) {
	.side-navigator-contact {
		font-size: 38px;
		left: -55px;
		top: 0%;
	}
}

// css for tablets
@media only screen and (min-width: 760px) {
	.side-navigator-contact {
		top: 8%;
		font-size: 50px;
		opacity: 0.8;
	}
	.social-media {
		i {
			font-size: 27px;
		}
	}
	.email-info {
		i {
			font-size: 22px;
		}
		div {
			font-size: 16px;
		}
	}

	.github-info {
		i {
			font-size: 24px;
		}
		a {
			font-size: 16px;
		}
	}
}

// css for laptops/wider screens
@media only screen and (min-width: 900px) {
	.side-navigator-contact {
		top: 37%;
		font-size: 50px;
		opacity: 0.8;
	}
	.email-info {
		i {
			font-size: 24px;
		}
		div {
			font-size: 18px;
		}
	}

	.github-info {
		i {
			font-size: 26px;
		}
		a {
			font-size: 18px;
		}
	}
}
