footer {
	position: relative;
	bottom: 0;
	width: 100vw;
	height: auto;
	background-color: $accent-color;
	color: $base-color;
	p {
		padding: 12px 0px;
		font-size: 16px;
		text-align: center;
		font-family: $header-font;
	}
}

// css for tablets
@media only screen and (min-width: 760px) {
	footer {
		p {
			padding: 18px 0px;
			font-size: 18px;
		}
	}
}

// for laptops and wider screen
@media only screen and (min-width: 900px) {
	footer {
		p {
			padding: 20px 0px;
			font-size: 18px;
		}
	}
}
