nav {
	position: fixed;
	z-index: 999;
	margin: 0px;
	min-height: 8vh;
	height: 8vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: $nav-font;
	font-weight: 700;
	background-color: $base-color;
	transition: all 0.3s ease;
}

.scrolled {
	box-shadow: 0 3px 4px lighten($grey, 27%);
}

.logo a {
	color: #000;
	text-decoration: none;
	margin-left: 30px;
	text-transform: uppercase;
	font-style: italic;
	letter-spacing: 5px;
	font-size: 20px;
	font-weight: 700;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	min-width: 50%;
	list-style: none;
	font-size: 15px;
}

.nav-links a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	color: $grey;
	transition: color 0.2s ease;

	&:hover {
		color: $accent-color;
	}
}

.burger {
	display: none;
	cursor: pointer;
}

.burger div {
	margin-top: 5px;
	width: 23px;
	height: 3px;
	background-color: $text-color;
	transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
	.nav-links a {
		font-size: 14px;
	}
}

@media screen and (max-width: 600px) {
	nav {
		justify-content: space-between;
		box-shadow: 0 3px 4px lighten($grey, 27%);
	}

	.nav-links {
		position: absolute;
		right: 0;
		height: 92vh;
		top: 8vh;
		z-index: 999;
		width: 50vw;
		background-color: $base-color;
		display: flex;
		flex-direction: column;
		align-items: center;
		transform: translateX(100%);
	}

	.nav-links a {
		font-size: 18px;
	}

	.nav-links li {
		opacity: 0;
	}

	.burger {
		display: block;
		margin-right: 20px;
	}
}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinksFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}

	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

/* for burger animation */

.toggle .line1 {
	transform: rotate(45deg) translate(5.5px, 6px);
	width: 18px;
}

.toggle .line2 {
	transform: translateX(40%);
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(-45deg) translate(5.5px, -6px);
	width: 18px;
}
