$base-color: #fff;
$accent-color: #2ECC71;
$grey: #a9a9a9;
$light-grey: #c1c1c1;
$text-color: #333;

$nav-font: 'Montserrat', sans-serif;
$header-font: 'Lora', serif;
$secondary-font: 'Lato', sans-serif;
$mono-font: 'Roboto Mono', monospace;
